<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>jsp servlet jdbc</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- sitemesh decorators -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- end sitemesh decorators -->

	<!-- servlet filter -->
	<filter>
		<filter-name>servletFilter</filter-name>
		<filter-class>com.javaweb.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>servletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- END servlet filter -->
	

	<!-- <servlet> -->
	<!-- <description></description> -->
	<!-- <display-name>DefaultController</display-name> -->
	<!-- <servlet-name>DefaultController</servlet-name> -->
	<!-- <servlet-class>com.javaweb.controller.web.DefaultController</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>DefaultController</servlet-name> -->
	<!-- <url-pattern>/DefaultController</url-pattern> -->
	<!-- </servlet-mapping> -->
</web-app>